{% extends 'base.html' %}
{% load static %}

{% block title %}여행 지도 | 모두투어{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">여행 지도</h5>
                </div>
                <div class="card-body">
                    <div id="map" style="height: 600px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block extra_js %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ KAKAO_MAP_API_KEY }}"></script>
<script>
    var mapContainer = document.getElementById('map');
    var mapOption = {
        center: new kakao.maps.LatLng(37.566826, 126.978656), // 서울시청
        level: 3
    };
    var map = new kakao.maps.Map(mapContainer, mapOption);
</script>
{% endblock %}
{% endblock %} 